

.aboutUs{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    background: 
    linear-gradient(63deg, rgba(30, 30, 30, 0.90) 0%, #1E1E1E 100%), 
    linear-gradient(135deg, #1E1E1E 0%, rgba(30, 30, 30, 0.95) 100%);

    
    margin: auto;
    padding: 120px 240px;

    gap: 100px;

}

@media screen and (max-width: 1920px) {
    .aboutUs{
        width: 100%;
    }
    
}
.aboutUs .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.aboutUs .top .description{
    align-self: stretch;
    color: #B6AEAE;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 166.667% */
    letter-spacing: -0.96px;
}
.aboutUs .header{
    margin: auto;
    display: inline-flex;
    width: min-content;
    flex-direction: column;
    align-items: center;
    gap: 28px; 
}
.aboutUs .title{
    color: #E6E6E6;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 75% */
    letter-spacing: 1.6px;
}
.aboutUs hr{
    display: flex;
    margin: 0px 60px;
    align-self: stretch;
    background-color: #8E8E8E;
}

.aboutUs .bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    
}

.aboutUs .bottom .title{
    margin: auto;
    display: flex;
    color: #E6E6E6;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 120% */
    letter-spacing: 1px;
}

.aboutUs #bottom{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 120% */
    letter-spacing: 1px;
}

.aboutUs .skillSection{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap:60px;

}

.aboutUs .skillSection .section{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}
.aboutUs .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
    align-self: stretch;
}

@media screen and (max-width: 910px) {
    .aboutUs .row{
        flex-direction: column;
    }
}
.aboutUs .skills{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
}


.aboutUs .sectionTitle{
    margin: auto;
    color: #B6AEAE;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
    letter-spacing: 0.64px;
}

.aboutUs .skillCard{
    box-sizing: border-box;
    display: flex;
    padding: 12px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    background: #E6E6E6;
}
.aboutUs .skillCard .logo{
    width: 24px;
    height: 24px;
    background-image: url('assets/figma_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
}