
:root {
    --primary-color: #222E50;
    --heading-color: #E6E6E6;
    --error-color: #ef476f;
    --success-color: #06d6a0;
    --dark-background-gradient: linear-gradient(63deg, rgba(30, 30, 30, 0.90) 0%, #1E1E1E 100%),
        linear-gradient(135deg, #1E1E1E 0%, rgba(30, 30, 30, 0.95) 100%);
    font-family: 'Cascadia Code',sans-serif;
    background-color: #101010;
    scroll-behavior: smooth;
    transition: all 0.3s ease-in;
    -webkit-tap-highlight-color: transparent;
}

html {
    background: linear-gradient(130deg, #FFF 0%, rgba(255, 255, 255, 0.69) 100%);
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-size: 16px;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 10px;
    }
}

@media only screen and (max-width: 250px) {

    html {
        font-size: 6px;
    }
}

@media only screen and (max-width: 150px) {

    html {
        font-size: 4px;
    }
}


body {
    margin: 0px;
}
/* Custom Loader */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(90deg);
    }

    35% {
        transform: rotate(90deg);
    }

    45% {
        transform: rotate(180deg);
    }

    60% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    85% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    10% {
        -webkit-transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(90deg);
    }

    35% {
        -webkit-transform: rotate(90deg);
    }

    45% {
        -webkit-transform: rotate(180deg);
    }

    60% {
        -webkit-transform: rotate(180deg);
    }

    75% {
        -webkit-transform: rotate(270deg);
    }

    85% {
        -webkit-transform: rotate(270deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes bounce {
    0% {
        transform: scaleX(1);
    }

    10% {
        transform: scaleX(1);
    }

    20% {
        transform: scaleX(0.8);
    }

    35% {
        transform: scaleX(0.8);
    }

    45% {
        transform: scaleX(1);
    }

    60% {
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(0.8);
    }

    85% {
        transform: scaleX(0.8);
    }

    100% {
        transform: scaleX(1);
    }
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scaleX(1);
    }

    10% {
        -webkit-transform: scaleX(1);
    }

    20% {
        -webkit-transform: scaleX(0.8);
    }

    35% {
        -webkit-transform: scaleX(0.8);
    }

    45% {
        -webkit-transform: scaleX(1);
    }

    60% {
        -webkit-transform: scaleX(1);
    }

    75% {
        -webkit-transform: scaleX(0.8);
    }

    85% {
        -webkit-transform: scaleX(0.8);
    }

    100% {
        -webkit-transform: scaleX(1);
    }
}

 .loader {
    box-sizing: content-box;
    height: 1rem;
    position: relative;
    width: 4.375rem;
}

 .loader:before {
    box-sizing: content-box;
    content: "";
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

 .loader .spin {
    -webkit-animation: spin 2.25s linear infinite;
    animation: spin 2.25s linear infinite;
    height: 1rem;
    position: absolute;
    left:40%;
    /* top: 13px; */
    width: 1rem;
}

.loader .spin:before {
    background-color: var(--heading-color);
    box-sizing: content-box;
    border-radius: 100px;
    content: "";
    height: 1.6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
    width: 3px;
}

 .loader .bounce {
    -webkit-animation: bounce 2.25s linear infinite;
    animation: bounce 2.25s linear infinite;
    height: 100%;
    position: relative;
    width: 100%;
}

 .loader .bounce:after,
 .loader .bounce:before {
    top:2px;
    box-sizing: content-box;
    content: "";
    height: 0.5rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.5rem;
}

 .loader .bounce:before {
    border-bottom-left-radius:4px ;
    border-bottom: 3px solid var(--heading-color);
    border-left: 3px solid var(--heading-color);
    left: 0;
}

 .loader .bounce:after {
    border-top-right-radius:4px ;
    border-right: 3px solid var(--heading-color);
    border-top: 3px solid var(--heading-color);
    right: 0;
}
/* Custom Button */
.custom-btn {
    appearance: none;
    background: #222E50;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    min-width: 0;
    outline: none;
    padding: 0.75rem 3rem;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform;
    font-family: 'Cascadia Code';
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.4px;
    -webkit-tap-highlight-color: transparent;
}

.custom-btn:disabled {
    pointer-events: none;
}

.custom-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.custom-btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.custom-btn-small {
    width: 9.375rem;
    padding: 0.75rem 2.5rem;
    border-radius: 10;
}
.custom-btn-small:disabled{
    pointer-events: all;
    cursor:not-allowed;
    color:#909090;
    background-color: #474747;
}
/* Nav nar CSS */
.nav-bar-wrapper {
    z-index: 1;
    position: absolute;
    display: flex;
    width: 100%;
}

.navbar {
    box-sizing: border-box;
    display: flex;
    width: 1920px;
    padding: 1.25% 5.20%;
    min-height: 5rem;
    margin: auto;
    justify-content: space-between;
    align-items: center;

}

.navbar img {
    float: left;
    width: 5rem;
    height: 2.125rem;

}

.nav-items-list {
    padding: 0px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    cursor: default;
    list-style: none;
    margin-left: 80px;
    margin-right: 80px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.nav-item-small {

    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.nav-item a {
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.nav-item .hDivider {
    display: none;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    height: 2px;
    justify-content: center;
    align-self: stretch;
    background-color: var(--primary-color);
}

.nav-item .hDivider-small {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-item:hover .hDivider {
    display: block;
}

.nav-item .active {
    display: block;
}

@media screen and (max-width: 1920px) {
    .navbar {
        width: 100%;
    }
}

@media only screen and (max-width: 1500px) {
    #navbar-item-about-me {
        display: none;
    }
}

@media only screen and (max-width:1300px) {
    #home-nav-bar{
        display: none;
    }


}
@media only screen and (max-width: 800px) {

    #projects-nav-items {
        height: 30px;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .nav-item-small {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media only screen and (max-width:550px) {
    .navbar{
        padding: auto 6.20%;
    }
    .navbar .resume-btn {
        display: none;
    }
}



/* Header Style */
.header-container {
    margin: auto;
    white-space: nowrap;
    display: inline-flex;
    width: min-content;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
}

.header-title {
    color: var(--heading-color);
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.875rem;
    /* 75% */
    letter-spacing: 1.6px;
}

.header-baseline {
    display: flex;
    margin-left: 3.75rem;
    margin-right: 3.75rem;
    height: 1px;
    justify-content: center;
    align-self: stretch;
    background-color: #909090;
}

.header-container-left {
    margin: 0px;
    align-items: flex-start;
}

.header-title-dark {
    color: var(--primary-color)
}

.header-baseline-left {
    margin-left: 0px;
}

.header-container-right {
    margin: 0px;
    align-items: flex-end;
}

.header-baseline-right {
    margin-right: 0px;
}


@media only screen and (max-width:200px) {
    .header-title {
        white-space: normal;
        text-align: center;
        line-height: 4rem;
    }
}

@media only screen and (max-width:500px) {
    .header-title-dark {
        white-space: normal;
        line-height: 4rem;
        text-align: left;
    }

    #contact-me .header-title {
        white-space: normal;
        line-height: 4rem;
        text-align: right;
    }
}

/* Home Section CSS */
.home-wrapper {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: row;
    margin: auto;

    width: 1920px;
    padding-left: 10.416%;
    background-image: url('assets/bg_home.png');
    background-size: auto;
    background-repeat: no-repeat;
}
#foreground-img {
    aspect-ratio: 0.8798;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    right: 8.3%;
    height: 50.312rem;
    width: 44.125rem;
    z-index: 0;
}
.home-wrapper .home-content {
    margin-top: 15rem;
    margin-bottom: 5.375rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: auto;
    gap: 8.75rem;
    z-index: 1;
}
.home-content-top-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
}
.home-content-top-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.home-content-bottom-section {
    display: flex;
    align-self: stretch;
    color: #474747;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.12px;

}

.home-content .title-row {
    display: inline-flex;
    align-items: baseline;
    gap: 2.5rem;
}

.home-content .hi {
    white-space: nowrap;

    color: #000;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    /* 80% */
}


#home-bottom::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

.home-content .name-is {
    white-space: nowrap;

    color: #000;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5rem;
    /* 105% */
    letter-spacing: -3.2px;
}

.home-content .home-title {
    white-space: nowrap;

    color: #222E50;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.25rem;
    /* 100% */
    letter-spacing: -4px;
}

.home-content .title-row .home-title::after {
    display: inline;
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.home-content .container-recent-projects {
    display: flex;
    flex-direction: column;
    height: min-content;
    gap: 1rem;

}

.container-recent-projects .recent-projects-title {
    color: #222E50;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}

.container-recent-projects .recent-projects-display {
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    
}

.see-more-btn {
    text-decoration: none;
    display: inline-flex;
    gap: 12px;
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    color: #222E50;
    border: 4px var(--primary-color) solid;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.see-more-btn span {
    white-space: nowrap;
    display: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.32px;
    transition: display 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.see-more-btn svg {
    height: 2rem;
    width: 2rem;
    rotate: 90deg;
}

.see-more-btn-small {
    border: 2px var(--heading-color) solid;
    height: 2rem;
    width: 2rem;
}

.see-more-btn-small span {
    color: var(--heading-color);
    font-size: 1rem;
}

.see-more-btn-small svg {
    color: var(--heading-color);
    height: 1rem;
    width: 1rem;
    rotate: 360deg
}

#see-more-btn:hover {
    width: 11.25rem;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.see-more-btn:hover span {
    display: flex;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#see-more-btn-small:hover {

    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 1920px) {
    .home-wrapper {
        width: 100%;

    }
}

@media screen and (max-width: 1600px) {
    .home-wrapper .home-content {
        margin-top: 12rem;
    }

    .home-content .title-row {
        flex-direction: column;
        column-gap: 0px;
        gap: 0px;
    }

}



@media only screen and (max-width: 1000px) {
    .home-wrapper .home-content {
        margin-top: 10rem;
    }

    .title-eow {
        column-gap: 0px;
        gap: 0px;
        flex-direction: column;
    }

    .home-content-top-section .home-title {
        width: 100%;
        white-space: break-spaces;
    }
}


@media only screen and (max-width: 1300px) {

    .home-wrapper {
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;

    }

    .home-content {
        width: min-content;
        margin-bottom: 0px;
        align-self: auto;
        margin-bottom: 0px;
    }

    .home-content-top-section {
        width: min-content;
    }

    .home-content .hi {
        text-align: center;
    }

    .home-content .name-is {
        text-align: center;
    }

    .home-content .title-row {
        align-items: center;
        text-align: center;
    }

    .home-content-bottom-section {
        align-self: center;
        text-align: center;
    }

    .home-content .container-recent-projects {
        display: none;
    }

    #foreground-img {

        max-height: 50.312rem;
        max-width: 44.125rem;
        width: 100vw;
        height: calc(100vw/0.8798);
        display: flex;
        position: relative;
        right: 0;
        top: 0;
    }
}

/* About Me CSS */

.about-me-wrapper {
    width: 100%;
    background:
        linear-gradient(63deg, rgba(30, 30, 30, 0.90) 0%, #1E1E1E 100%),
        linear-gradient(135deg, #1E1E1E 0%, rgba(30, 30, 30, 0.95) 100%);
}

.about-me {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1920px;
    margin: auto;
    padding: 7.5rem 12.5%;
    gap: 6.25rem;

}


.about-me .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    align-self: stretch;
}

.about-me .about-me-description {
    align-self: stretch;
    color: #B6AEAE;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    /* 166.667% */
    letter-spacing: -0.96px;
}

.about-me .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

}

.about-me .bottom-section .title {
    margin: auto;
    display: flex;
    color: var(--heading-color);
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.75rem;
    /* 120% */
    letter-spacing: 1px;
}



.about-me .skills-section {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 3.75rem;

}

.about-me .skills-section .skills-category {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.75rem;
    align-self: stretch;
    flex: 1;

}

.about-me .skills-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3.75rem;
    align-self: stretch;
}


.about-me .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
}


.about-me .skills-category-title {
    text-align: center;
    color: #B6AEAE;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.64px;
}

.about-me .skill-card {

    box-sizing: border-box;
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    background: var(--heading-color);

    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    /* 200% */
    letter-spacing: -0.8px;
}

.about-me .skill-card .logo {
    height: 1.5rem;
}

.about-me .skill-card .skill {
    white-space: nowrap;
    color: #000;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    /* 200% */
    letter-spacing: -0.8px;

    text-align: center;
}

@media screen and (max-width: 910px) {
    .about-me .skills-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 1920px) {
    .about-me {
        width: 100%;
    }

}

@media screen and (max-width: 1300px) {
    .about-me {
        width: 100%;
    }

}

@media screen and (max-width: 375px) {
    .about-me .bottom-section .title {
        white-space: break-spaces;
        text-align: center;
    }
}

/* My Projects CSS */
.my-projects-wrapper {
    box-sizing: border-box;
    width: 1920px;
    margin: auto;
    padding: 7.5rem 12.5%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.my-projects-wrapper .my-projects-header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    column-gap: 3rem;
}

.my-projects-list {
    display: flex;
    flex-direction: row;
    min-height: 24rem;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.my-projects-list .my-projects-empty-text {
    color: #989898;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    /* 187.5% */
    letter-spacing: 0.64px;
}

.project-card {
    height: 24rem;
    min-height: 384px;
    width: 36rem;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #f0f0f0;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
}

.project-card img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;

    transition: opacity 0.2s ease-out;
}

.project-card-content {
    position: absolute;
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    padding: 8%;
    opacity: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.62) 40.63%, rgba(0, 0, 0, 0.70) 66.67%, rgba(0, 0, 0, 0.80) 100%);
    transition: opacity 0.3s ease-in;

}

.project-card .project-card-title {
    /* position: absolute; */
    margin: 0;
    text-transform: uppercase;
    color: var(--heading-color);
    font-size: 1.5rem;
    font-weight: 400;
}

.project-card .project-card-description,
.project-card a {
    /* position: absolute; */
    opacity: 0;
    max-width: 90%;
    transition: opacity 0.3s ease-out;
}

.project-card .project-card-description {
    color: #d7d7d7;
    font-size: 1.1rem;
    font-weight: 300;
    inset: auto auto 60px 30px;
}

.project-card:hover .project-card-content {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.project-card:hover p,
.project-card:hover a {
    opacity: 1;
    transition: opacity 0.5s 0.1s ease-in;
}

.project-card:hover img {
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

.project-card .btn {
    inset: auto auto 40px 30px;
    color: inherit;
    text-decoration: none;
}

.project-card-small {
    width: 12.5rem;
    min-height :0;
    height: 10rem;

    border-radius: 24px;
}

.project-card-small .project-card-title {
    font-size: 1.3rem;

}
@media screen and (max-width: 1400px) {
    .my-projects-wrapper .my-projects-header-bar{
        flex-direction: column;
        align-items: start;
        gap:2rem;
    }
    #my-project-tab-bar{
        gap: 3rem;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content:center;
    }
}
@media screen and (max-width: 1920px) {
    .my-projects-wrapper {
        width: 100%;
    }
}



/* Contact Me CSS */
.contact-me-wrapper {
    width: 100%;
    background: var(--dark-background-gradient);

    display: flex;
    flex-direction: column-reverse;
}

.contact-me {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 1920px;
    padding: 7.5rem 12.5%;
    align-items: center;
    gap: 5rem;

    margin: auto;
}


.text-field {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding: 1.25rem 2.5rem;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;

    border-radius: 10px;
    border: 2px solid #FFF;

    background-color: transparent;
    font-family: 'Cascadia Code', sans-serif;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.text-field:disabled {
    border-color: #919191;
    color: #919191
}

.text-field::placeholder {
    color: #919191;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

/* Chrome, Safari, Edge, Opera */
.text-field::-webkit-outer-spin-button,
.text-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.text-field[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #fff !important;

    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
}

.text-field:focus {
    border: none;
    color: #FFF;

}

.left-section {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    align-self: stretch;
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    flex: 1 0 0;
    align-self: stretch;
}

.contact-me .first-row {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    align-self: stretch;
}
.submit-row{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.submit-status-message{
    display: none;
    gap: 0.3rem;
    align-items: center;
}
.submit-status-message svg{
    height: 1rem;
    width: 1rem;
}
.submit-status::after {
    content: '|';
    color: var(--heading-color);
    margin-left: 2px;
    animation: blink 0.7s infinite;
}
#contact-me-email {
    align-self: stretch;
    height: 4rem;
    flex: none;
}

#contact-me-message {
    resize: none;
    display: flex;
    align-self: stretch;
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5rem;
    flex: 1 0 0;
}



.contact-me .right-section .top {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2.5rem;
    align-self: stretch;
}

.contact-me .right-section .top p {
    width: 100%;
    color: #B6AEAE;
    text-align: right;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    /* 166.667% */
    letter-spacing: 1px;
}

.contact-me .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    align-self: stretch;
}

.contact-me .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

.contact-me .contact svg {
    height: 2.5rem;
    min-width: 2.5rem;
}

.contact-me .header {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    gap: 1.5rem;
}

.header .text {
    text-align: right;
    word-wrap: break-word;
    color: #FFF;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
}

.h-divider {
    display: flex;
    height: 1px;
    justify-content: center;
    background: #4c4c4c;
    width: 80%;
}


@media screen and (max-width: 1920px) {
    .contact-me {
        width: 100%;
    }
}

@media screen and (max-width: 1760px) {
    .contact-me {
        flex-direction: column-reverse;
    }

    .left-section {
        width: 100%;
        height: 400px;
    }

    .right-section {
        width: 100%;
    }
    .contact{
        max-width: 100%;
    }
    .contact .header{
        max-width: 100%;
    }
    .header .text{
        width: 88%;
    }

}

@media screen and (max-width: 1000px) {

    .contact-me .first-row {
        flex-direction: column;
    }
}

/* Footer */

.footer-branding {
    box-sizing: border-box;
    position: absolute;
    padding: 1.25rem 0px;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    width: 100%;


}

.footer-branding .row {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.footer-branding .branding {
    color: #9F9F9F;
    font-family: "Pacifico";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-branding #sm-logo {
    max-width: 82px;
    max-height: 35px;
    width: 5.125rem;
    height: 2.1875rem;
}

.footer-branding #divider {
    max-width: 5px;
    max-height: 48px;
    width: 0.3125rem;
    height: 3rem;
}

.footer-branding #name-logo {
    max-width: 175px;
    max-height: 29px;
    width: 10.9375rem;
    height: 1.8125rem;
}